@model Statii_Incarcare.Models.Db.Detalii
@{
    ViewData["Title"] = "Detalii";
    Layout = "_Layout";
}

 

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="~/Calendar/css/style.css">
	<link rel="stylesheet" href="~/css/site.css">

<h1>Detalii</h1>

<div>
    <h4>Informatii Statie</h4>
    <hr />
    <dl class="row" style="color:black;">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.statii.Nume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.statii.Nume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.statii.Oras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.statii.Oras)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.statii.Adresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.statii.Adresa)
        </dd>
    </dl>
   
    <hr />
    <h4>Prize Statie</h4>
   <table class="table" style="width: 30%;text-align:left;">
    <thead>
        <tr>
            <th>
               Numar Priza
            </th>
            <th>
                Tip
            </th>
			<th>
                Disponibilitate Saptamana
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.InformatiiPrize) {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.NumarPriza)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Tip)
            </th>
			<th>
                 <a asp-action="Index" asp-controller="Disponibilitate"  asp-route-id="@item.NumarPriza" class="btn btn-primary">Disponibilitate</a>
            </th>
        </tr>
}
    </tbody>
</table>

</div>
<div>
    <br />
    <a asp-action="Edit" asp-route-id="@Model?.statii.StatieId" class="btn btn-success">Edit</a>
    <a asp-action="AddPriza" asp-route-id="@Model?.statii.StatieId" class="btn btn-primary">Adaugare Priza</a> 
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    
</div>
<input id="idStatieVal" readonly value="@Model?.statii.StatieId" hidden=true/>
<br />
<br />
<h1>Disponibilitate</h1>
<section class="ftco-section" style="margin-left:auto;" >
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="elegant-calencar d-md-flex">
						<div class="wrap-header d-flex align-items-center img" style="background-image: url(/Calendar/images/b2.jpg);">
				      <p id="reset">Today</p>
			        <div id="header" class="p-0">
								<!-- <div class="pre-button d-flex align-items-center justify-content-center"><i class="fa fa-chevron-left"></i></div> -->
		            <div class="head-info">
		            	<div class="head-month"></div>
		                <div class="head-day"></div>
		            </div>
		            <!-- <div class="next-button d-flex align-items-center justify-content-center"><i class="fa fa-chevron-right"></i></div> -->
			        </div>
			      </div>
			      <div class="calendar-wrap">
			      	<div class="w-100 button-wrap">
				      	<div class="pre-button d-flex align-items-center justify-content-center"><i class="fa fa-chevron-left"></i></div>
				      	<div class="next-button d-flex align-items-center justify-content-center"><i class="fa fa-chevron-right"></i></div>
			      	</div>
			        <table id="calendar">
		            <thead>
		                <tr>
	                    <th>Sun</th>
	                    <th>Mon</th>
	                    <th>Tue</th>
	                    <th>Wed</th>
	                    <th>Thu</th>
	                    <th>Fri</th>
	                    <th>Sat</th>
		                </tr>
		            </thead>
		            <tbody>
	                <tr>
	                  <td></td>
	                  <td></td>
	                  <td></td>
	                  <td></td>
	                  <td></td>
	                  <td></td>
	                  <td></td>
	                </tr>
	                <tr>
	                  <td></td>
	                  <td></td>
	                  <td></td>
	                  <td></td>
	                  <td></td>
	                  <td></td>
	                  <td></td>
	                </tr>
	                <tr>
	                  <td></td>
	                  <td></td>
	                  <td></td>
	                  <td></td>
	                  <td></td>
	                  <td></td>
	                  <td></td>
	                </tr>
	                <tr>
	                  <td></td>
	                  <td></td>
	                  <td></td>
	                  <td></td>
	                  <td></td>
	                  <td></td>
	                  <td></td>
	                </tr>
	                <tr>
	                  <td></td>
	                  <td></td>
	                  <td></td>
	                  <td></td>
	                  <td></td>
	                  <td></td>
	                  <td></td>
	                </tr>
	                <tr>
	                  <td></td>
	                  <td></td>
	                  <td></td>
	                  <td></td>
	                  <td></td>
	                  <td></td>
	                  <td></td>
	                </tr>
		            </tbody>
			        </table>
			      </div>
			    </div>
				</div>
			</div>
		</div>
		<br />
		<div>
			<h2 style="margin-left:350px;">Ore disponibile: </h2>
			<table class="table"  style="margin-left:400px;width: 35%;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border-radius: 5px;">
			<thead style="background-color:#04AA6D;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius: 5px;">
			<tr>
            <th>
                Interval ore
            </th>
			<th>
                Prize
            </th>
			</tr>
			</thead>
			<tbody id="li2IntervaleT" >

			</tbody>
			</table>
		</div>
	</section>
	
	
  <script src="~/Calendar/js/jquery.min.js"></script>
  <script src="~/Calendar/js/popper.js"></script>
  <script src="~/Calendar/js/bootstrap.min.js"></script>
  <script src="~/Calendar/js/JavaScript2.js"></script>
 
  
